# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# User uploads (Ignore contents, keep folder structure)
storage/uploads/*
!storage/uploads/.gitkeep

# Logs (Ignore contents, keep folder structure)
storage/logs/*
!storage/logs/.gitkeep

# Node
node_modules/

# Environment config
.env

# Cache / logs
*.log
*.cache

.htaccess