# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# User uploads (DO NOT COMMIT)
storage/uploads/*
!storage/uploads/.gitkeep


# Node
node_modules/

# Environment config
.env

# Cache / logs
*.log
*.cache
storage/logs/*.log
!storage/logs/.gitkeep
